@import url(//fonts.googleapis.com/css?family=Open+Sans);

* {
    font-family: "Open Sans", verdana, arial, sans-serif;
    color: #DEDEDE;
}

body {
    background-color: #1a1a1a;
    overflow-x: hidden;
    margin: 0;
}

a, a:link, a:active, a:hover {
    text-decoration: none;
}

header > nav {
    justify-content: center;
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
}

header > nav > a, header > nav > label {
    white-space: nowrap;
    cursor: hand;
    text-align: center;
    flex: 1;
    padding: .5rem 2rem;
    background: linear-gradient(to bottom, #3c3c3c 0, #222 200%);
}

header > nav > a:hover, header > nav > label:hover {
    background: linear-gradient(to bottom, #7a7a7a 0, #222 200%);
}

nav input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
nav input[type="text"] {
    color: black;
    padding: 3px
}
nav select, nav select option {
    color: black;
    padding: 3px
}

nav input[type="checkbox"]:checked ~ .checkbox:before {
    content: "\2705";
    color: #138019;
    font-weight: bold;
}

/**Shows*/
.show-wrapper {
    margin: 0 auto;
    text-align: center;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.show {
    display: flex;
    max-width: 400px;
    margin: 1em;
}

.show[data-show-episode-count="0"] {
    display: none;
}

.show[data-show-episode-count="0"][data-show-manage="true"] {
    display: flex;
}

.show > a > img {
    min-width: 240px;
    max-width: 240px;
    width: 100%
}

.show > a {
    position: relative;
}

.show > a > .episode-count {
    background-color: #222;
    border-radius: 1%;
    position: absolute;
    right: 0;
    top: 0;
    display:inline-block;
    padding: .5em 1em;
}

/**Episodes*/
.episodes {
    margin: 0;
    cursor: pointer;
}

.episodes > ul {
    margin: 0;
    padding: 0
}

.episodes > ul > li {
    background: linear-gradient(to bottom, #222 0, #111 200%);
    margin: 0;
    list-style: none;
    padding: 2em 2em;
    display: block;
    margin-top: -1px;
}

.episodes > ul > li:hover {
    background: linear-gradient(to bottom, #333, #111 200%);
}

.episodes > ul > li.initiated {
    background: linear-gradient(to bottom, #20233c 0, #222 200%);
}

.episodes > ul > li.initiated:hover {
    background: linear-gradient(to bottom, #33417a 0, #222 200%);
}
.episodes > ul > li.hidden.manuallyHidden,
.episodes > ul > li.manuallyHidden.initiated,
.episodes > ul > li.manuallyHidden {
    background: linear-gradient(to bottom, #38203c 0, #222 200%);
}

.episodes > ul > li.hidden.manuallyHidden:hover,
.episodes > ul > li.manuallyHidden.initiated:hover,
.episodes > ul > li.manuallyHidden:hover {
    background: linear-gradient(to bottom, #75337a 0, #222 200%);
}

.episodes > ul > li.hidden {
    background: linear-gradient(to bottom, #3c1018 0, #222 200%);
}

.episodes > ul > li.hidden:hover {
    background: linear-gradient(to bottom, #7a252d 0, #222 200%);
}

/**Manage controls*/
.episodes .manage-controls {
    margin-top: -1em;
    float:    right;
}

.manage-controls {
    display: inline-block;
    cursor: hand;
    padding:  .5em;
}

.manage-controls:hover {
    background-color: #2f5598;
}

/**Player*/
#current-track {
    position: relative;
    top: 45px;
    left: 100px;
}

#current-description {
    padding: 2rem;
    max-height: 10vh;
    overflow-y: auto;
}

.audio-player {
    text-align: left;
    display: flex;
    flex-flow: row;
    margin: 1rem 0 1rem 0;
    width: 100%;
}

.audio-player .player-controls {
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
    flex: 3;
}

.audio-player .player-controls progress {
    margin-top: -8px;
    width: 85%;
}

.audio-player .player-controls progress[value] {
    -webkit-appearance: none;
    appearance: none;
    background-color: white;
    color: #2f5598;
    height: 15px;
}

.audio-player .player-controls progress[value]::-webkit-progress-bar {
    background-color: white;
    border-radius: 2px;
    color: #2f5598;
}

.audio-player .player-controls progress::-webkit-progress-value {
    background-color: #2f5598;
}

.audio-player .player-controls p {
    font-size: 1.6rem;
}

.audio-player #play-btn {
    cursor: pointer;
    background-image: url('../media/play.png?v=1');
    background-size: cover;
    width: 40px;
    height: 40px;
    margin: 20px 0 2rem 2rem;
}

.audio-player #play-btn.pause {
    background-image: url('../media/pause.png?v=1');
}
